@page
@model Ticketing.Presentation.RazorPages.Pages.FormSchema.AddModel
@{
}


<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title of Schema</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" asp-for="Command.Title" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Description of Schema</label>
        <textarea class="form-control" asp-for="Command.Description" id="description" aria-describedby="description" cols="100" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Type of Schema</label>
        <select asp-for="Command.TypeId" class="form-control">
            <option value="null" disabled selected>Select One...</option>
            @foreach (var type in Model.Types)
            {
                <option value="@type.Id">@type.Title</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>