@page
@model Ticketing.Presentation.RazorPages.Pages.Form.AddModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="list" class="form-label">Form Structure</label>
        <select asp-for="SelectedType" asp-items="Model.Types" class="form-control" required></select>
    </div>
    <button type="submit" class="btn btn-primary">Select form for fill</button>
</form>