@page
@model Ticketing.Presentation.RazorPages.Pages.Form.DetailsModel
@{
    var fields = Model.Form.Data as List<object>;
}


<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mobile</label>
  <input type="text" readonly class="form-control" id="mobile" value="@Model.Form.Mobile">
</div>
@*@foreach (var field in fields)
{
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">@field.</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
}*@