@page
@model Ticketing.Presentation.RazorPages.Pages.FormSchemaField.AddModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Form Schema</label>
        <select asp-for="Command.FormSchemaId" class="form-control">
            <option value="null" disabled selected>Select One...</option>
            @foreach (var form in Model.FormSchemas)
            {
                <option value="@form.Id">@form.Title</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Title of Field</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" asp-for="Command.Title" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Description of Field</label>
        <textarea class="form-control" asp-for="Command.Description" id="description" aria-describedby="description" cols="100" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Type of Field</label>
        <select asp-for="Command.Type" class="form-control">
            <option value="null" disabled selected>Select One...</option>
            @for (var i = 0; i < Model.FieldTypes.Length; i++)
            {
                <option value="@i">@Model.FieldTypes.GetValue(i)</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>