@page
@model Ticketing.Presentation.RazorPages.Pages.FormSchemaField.EditModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Command.Id" />
    <div class="mb-3">
        <label for="title" class="form-label">Title of Field</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" asp-for="Command.Title" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Description of Field</label>
        <textarea class="form-control" asp-for="Command.Description" id="description" aria-describedby="description" cols="100" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Type of Field</label>
        <select asp-for="Command.Type" asp-items="Model.FieldTypes" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>